<div class="container mt-4">
    
    <div >
        <form #formData="ngForm" (ngSubmit)="editAdmin(formData)">
            <div class="form-group class1">
                <label for="adminId">adminId</label>
                <input type="number" name="adminId"   [(ngModel)]="admin.adminId" class="form-control" required>
            </div>

            <div class="form-group class1">
                <label for="adminName">adminName</label>
                <input type="text" name="adminName"  [(ngModel)]="admin.adminName"  class="form-control" required>
            </div>
            <button type="submit" class="btn btn-light-brown">Edit</button>
        </form>
        <div *ngIf="errorOccured=='fail'"> something went wrong,Please try again</div>
        <div *ngIf="errorOccured=='success'">Your profile updated successfully </div>
    </div>

</div>