
.section {
	position: relative;
	height: 20vh;
}

.section .section-center {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
}
.bg-container {
  height: 100vh; 
  overflow: hidden; 
}

.bgimg {

  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../../assets/home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%; 
}

.booking-form {
	background: #fff;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(60, 64, 101, 0.1);
}


.booking-form .form-header {
	padding: 15px;
	height: 50px;
	line-height: 110px;
	text-align: center;
}

.booking-form .form-header h2 {
	font-family: 'Alegreya', serif;
	margin: 0;
	display: inline-block;
	font-size: 45px;
	color: #9a8067;
}

.booking-form .form-group {
	position: relative;
	height: 50px;
	padding: 15px 10px;
	margin-bottom: 0px;
}

.booking-form .form-control {
	font-family: 'Alegreya', serif;
	background-color: transparent;
	border-radius: 20px;
	border: 1px solid  black;
	height: 40px;
	padding: 20px;
	font-size: 28px;
	color: #3c404a;
	font-weight: 700;
}

.booking-form .form-label {
	color: #818390;
	display: block;
  margin-left: 40px;
	font-weight: 400;
	height: 30px;
	font-size: 20px;
}

.booking-form .form-btn {
	padding: 15px 10px;
	height: 110px;
}

.booking-form .submit-btn {
	background: #9a8067;
	color: #fff;
	border: none;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	height: 80px;
	width: 100%;
}
.clickable-row {
  cursor: pointer;
  transition: box-shadow 0.3s; 
}

.clickable-row:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.custom-table {
  border-radius: 10px;
  overflow: hidden;
}

.text-center {
  text-align: center;
}
.table thead th {
  background-color: #343a40; 
  color: #fff; 
}

.table tbody td {
  background-color: #f8f9fa;
}
