<table>
  <tr>
    <td class="col-3">
  <div class="side-menu">
    <div class="brand-name bi bi-airplane">
      <h2>Welcome FlightOwner : {{flightOwnerDto.flightOwnerName}}</h2>
    </div>
    <ul>
      <li><a routerLink="addflight">Add Flight</a></li>
      
      <li><a routerLink="viewtickets"> View Tickets</a></li>
      <li><a routerLink="viewflights"> View Flights</a></li>
      <li><a routerLink="editflightowner"> Edit Profile</a></li>
      <li><a routerLink="changeownerpassword"> Change Password</a></li>
      
    </ul>
  </div>
</td>
<td class="col-9 bg">
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</td>
</tr>
</table>