<body>
  <div class="bookingticket">
 <div class="container">
     <h2>Passengers Information</h2>
     <div id="msgpassenger" style="color: darkred; font-weight: bold;"></div>
     <form class="mb-4">
       <div class="form-group">
         <label for="passengerName">Name</label>
         <input type="text" class="form-control" name="passengerName" required [(ngModel)]="passenger.passengerName" pattern="[A-Za-z -]*" maxlength="25">
       </div>
   
       <div class="form-group">
         <label for="passengerAge">Age</label>
         <input type="number" class="form-control" id="passengerAge" name="passengerAge" placeholder="Age" #age="ngModel" required [(ngModel)]="passenger.passengerAge" pattern="[0-9]*" maxlength="2">
         <span *ngIf="age.invalid && (age.touched || age.dirty)" style="color: darkred; font-weight: bold;">Invalid age</span>
       </div>
   
       <button type="reset" class="btn btn-dark" (click)="addPassenger()" [disabled]="noOfPassengers == 0">Add Passenger</button>
     </form>
   
     <h2>Booking Information</h2>
    
       <form class="mb-4">
         <div class="form-group">
           <label for="travelDate">Travel Date</label>
           <input type="text" class="form-control" id="travelDate" name="travelDate" [(ngModel)]="travelDate">
         </div>
   
         <div class="form-group">
           <label for="email">Email</label>
           <input type="email" class="form-control" id="email" name="email" #name="ngModel" required [(ngModel)]="email">
         </div>
   
         <div class="form-group">
           <label for="totalAmount">Total Amount</label>
           <input type="number" class="form-control" id="totalAmount" name="totalAmount" [(ngModel)]="totalAmount">
         </div>
   
         <div class="form-group">
           <label for="noOfSeats">Number of Passengers</label>
           <input type="number" class="form-control" id="noOfSeats" name="noOfSeats" [(ngModel)]="noOfSeats">
         </div>
         <button type="submit" class="btn btn-dark" (click)="bookTicket()">Book a Ticket</button>
         <button type="submit"style="margin-left: 300px;" class="btn btn-dark" (click)="back()">Back</button>
       </form>
       <div *ngIf="errorOccured=='fail'">Insufficient balance in your wallet,kindly recharge and try aagain</div>
     </div>
   </div>
 
 </body>
  