.login-container {
  background: url('../../../assets/login1.jpeg');
  background-size: cover;
  color: white;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background: rgba(255, 255, 255, 0.7); 
  color: black; 
  border-radius: 10px;
  padding: 20px;
  max-width: 400px; 
  width: 100%;      
}

.text-danger {
  color: red; 
}
  