<div class="container">
    <form #oldPassword="ngForm" (ngSubmit)="verifyOldPassword(oldPassword)">
        <div class="form-group class1">
            <label for="oldpassword">Enter your OldPassword</label>
            <input type="password" name="oldPassword" ngModel class="form-control" required>
        </div>
        <button type="submit" class="btn btn-dark-green">Verify</button>
    
    </form>
    <div *ngIf="error=='fail'"> Password is incorrect,Please try again</div>
    <div *ngIf="error=='success'">Your password verified successfully</div>
    <div *ngIf="verified">
        <form #password="ngForm" (ngSubmit)="changeUserPassword(password)">
            <div class="form-group class1">
                <label for="password">Enter your NewPassword</label>
                <input type="password" name="password" ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}$"  #password="ngModel"   class="form-control" >
                <div *ngIf="password.touched && password.invalid">
                    <div *ngIf="password.errors?.hasOwnProperty('required')">Password is mandatory</div>
                    <div *ngIf="password.errors?.hasOwnProperty('pattern')">
                     invalid password
                    </div>
                  </div>
                
            </div>
            <button type="submit" class="btn btn-dark-green">Change password</button>
    
        </form>
        <div *ngIf="errorOccured=='fail'" > something went wrong,try again</div>
     <div *ngIf="errorOccured=='success'" > Password changed successfully</div>
    </div>