.container {
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-left: 250px;
    margin-top: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group label {
    color: #006400; 
    font-size: 20px;
}

.form-control {
    color: #333;
}

.btn-dark-green {
    background-color: #006400; 
    color: white; 
    border: none; 
}

.btn-dark-green:hover {
    background-color: #8FBC8F; 
}

button {
    margin-top: 10px;
}


.class1 {
    padding: 20px;
    border: 2px solid #006400; 
    border-radius: 8px;
    background-color: #FFFFFF; 
}