<div class="container">
    <h1>Change Password</h1>
    <form #oldPassword="ngForm" (ngSubmit)="verifyOldPassword(oldPassword)">
        <div class="form-group class1">
            <label for="oldpassword">Enter your Old Password</label>
            <input type="password" name="oldPassword" ngModel class="form-control" required>
        </div>
        
        <button type="submit" class="btn btn-light-brown">Verify</button>
    </form>
    <div *ngIf="error=='fail'">  Password is incorrect,Please try again</div>
    <div *ngIf="error=='success'">Your password verified successfully</div>
    <div *ngIf="verified">
        <form #password="ngForm" (ngSubmit)="changeUserPassword(password)">
            <div class="form-group class1">
                <label for="password">Enter your New Password</label>
                <input type="password" name="password" #password="ngModel" ngModel class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}$">
                <div *ngIf="password.touched && password.hasError('pattern')" class="text-danger">Invalid password format</div>
            </div>
            <button type="submit" class="btn btn-light-brown">Change Password</button>
        </form>
        <div *ngIf="errorOccured=='fail'"> something went wrong,try again</div>
        <div *ngIf="errorOccured=='success'"> Password changed successfully</div>
    </div>
</div>