<div class="container mt-5">
  <div class="table-responsive">
    <table class="table table-bordered table-hover custom-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Ticket ID</th>
          <th scope="col">Travel Date</th>
          <th scope="col">Email</th>
          <th scope="col">No Of Passengers</th>
          <th scope="col">cancel</th>
          <th scope="col">Status</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of ticketList" [ngClass]="{'clickable-row': isClickable}" (click)="isClickable && navigateToTicketDetails(ticket.ticketId)">
          <td>{{ ticket.ticketId }}</td>
          <td>{{ ticket.travelDate }}</td>
          <td>{{ ticket.email }}</td>
          <td>{{ ticket.numberOfPassengers }}</td>
          <td><button type="button" [disabled]="isDateInPast(ticket.travelDate)" (click)="deleteTickets(ticket.ticketId)">cancel Ticket</button></td>
          <td *ngIf="isDateInPast(ticket.travelDate)"> Already travelled</td>
          <td *ngIf="!isDateInPast(ticket.travelDate)"> yet to travel</td>


        </tr>
      </tbody>
    </table>
  </div>
</div>