body {
    background: url('../../../assets/img1.jpg') center center/cover no-repeat fixed; 
   color: black;
   height: 110vh;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .container {
   max-width: 500px; 
   width: 100%;
   padding: 20px;
   background: rgba(255, 255, 255, 0.7); 
   border-radius: 10px;
 }
 
 
 h2 {
   color: #007bff; 
 }
 
 .form-group {
   margin-bottom: 10px;
 }
 
 button {
   background-color: #007bff; 
   border: none;
 }
 
 button:hover {
   background-color: #0056b3; 
 }