/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-size: 35px;
}

li {
  list-style: none;
}

h2 {
  color: white;
  margin-right: 80px;
  font-size: 40px;
}

h3 {
  color: #999;
}

.btn {
  background: #f05462;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: #f05462;
  background: white;
  border: 2px solid #f05462;
}

table {
  width: 100%;
  
}

.side-menu {
  background: #1f2229;
  width: 550px; 
  height: 125vh;

}

.side-menu .brand-name {
  height: 10vh;
  display: flex;
  align-items: center;
  
}

.side-menu ul {
  padding: 20px;
}

.side-menu li {
  font-size: 35px;
  padding: 15px 20px;
 
  align-items: center;
  transition: all 0.3s;
  
}

.side-menu li:hover {
  background: #f05462;
  color: #282c35;
}
.router {
  margin:0 auto;
  padding: 20px;
  
  
}

.bg {
  background-image: url("../../../assets/user.jpeg");
  background-size: cover;
  background-position: center;
} */
.dashboard-container {
  display: flex;
}

.sidenav {
  height: 130vh;
  width: 500px;
  background-color: #111;
  padding-top: 20px;
  padding-left: 20px; /* Adjust padding for the left side */
}

.brand-name {
  display: flex;
  align-items: center;
}

.brand-name h2 {
  color: white;
  margin-right: 20px; /* Adjust margin for the right side */
}

.sidenav a {
  padding: 28px 15px; /* Increase padding for better spacing */
  text-decoration: none;
  font-size: 36px;
  color: #ffe4c4;
  display: block;
  margin-bottom: 10px; /* Add margin between links */
}

.sidenav a:hover {
  background:  #ffe4c4;
  color: black;
}
h2 {
  font-size: 35px;
  color: white;

}

.main {
  flex: 1;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../../../assets/user.jpeg');
  background-size: cover;
  background-position: center;
}

