
<div class="dashboard-container">
  <div class="sidenav">
    <div style="padding-top: 30px; padding-bottom: 20px;">
      <h2>Welcome User : {{userDto.userName}}</h2>
    </div>
  
    <a routerLink="edituser">Edit Profile</a>
    <a routerLink="viewtickets"> View Bookings</a>
    <a routerLink="paymenthistory"> Payment History</a>
    <a routerLink="changeuserpassword"> change Password</a>
    <a routerLink="rechargewallet"> Recharge Wallet</a>

  </div>

  <!-- Page content -->
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
